---
layout: page
title: Search
permalink: /search/
---
<script src="/assets/js/components/minisearch.js"></script>

{% capture js %}
  {% render "../../assets/scripts/search.js" %}
{% endcapture %}
<script type="module">{{ js }}</script>

<div class="container my-4">
  <div class="row justify-content-center mb-3 mb-lg-5">
    <div class="col-lg-6">
      <form role="search" class="cc-search-form d-flex justify-content-center">
        <input
          class="cc-search-form-input form-control me-2"
          type="search"
          name="q"
          placeholder="Search"
          aria-label="Search"
          autocomplete="off"
          autofocus
        >
      </form>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="list-group cc-search-results d-none"></div>
    </div>
  </div>
</div>
